.idea
.vscode
.DS_Store

vendor/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Go workspace file
go.work

# Build
build
dist

# Generated
generated
*.mock.gen.go
wire_gen.go
gen_test.dbMock
*generated_gen.go

.env.override
env.override.json

# Mocks
mock_*.go

# golang air
.air.toml
tmp